:root {
  --main-bg-color: #251f30;
}

.chat-window {
  background: linear-gradient(
    180deg,
    rgba(61, 50, 83, 1) 1%,
    rgba(90, 80, 116, 1) 35%,
    rgba(105, 94, 128, 1) 100%
  );
}

.chat-window > .card-header {
  font-size: 2rem;
}

.chat-window > .card-body {
  gap: 1rem;
}

.chat-links {
  background-color: var(--main-bg-color) !important;
}

.chat-links a {
  text-decoration: none;
}

.chat-messages {
  background-color: hsla(0, 0%, 0%, 0.1) !important;
}

.chat-messages .chat-input {
  background-color: hsla(261, 22%, 15%, 0.522) !important;
  border-color: hsla(0, 0%, 0%, 0.651) !important;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.chat-messages .card-header {
  background-color: var(--main-bg-color) !important;
}

.chat-messages .card-body {
  overflow-y: scroll;
  position: relative;
  height: 600px;
  display: flex;
  flex-direction: column-reverse;
}

.btn-primary {
  color: #ffffff !important;
  background-color: #251f30 !important;
  border-color: #251f30 !important;
  text-align: left !important;
}

.col2 .card-body {
  overflow-y: scroll;
  position: relative;
  height: 634px;
}